@import "tailwindcss";

/* Custom Colors */
@theme {
  --color-primary: #fff;
  --color-secondary: #151414;
  --bg-img: #251b11;

  /* Custom Fonts */
  --font-piazzolla-black: "Piazzolla-Black";
  --font-piazzolla-bold: "Piazzolla-Bold";
  --font-piazzolla-medium: "Piazzolla-Medium";
  --font-piazzolla-regular: "Piazzolla-Regular";
  --font-smoochSans-bold: "SmoochSans-Bold";
  --font-smoochSans-medium: "SmoochSans-Medium";
  --font-smoochSans-regular: "SmoochSans-Regular";
  --font-smoochSans-semi-bold: "SmoochSans-SemiBold";
}

/* Font Face Declarations */
@font-face {
  font-family: Piazzolla-Black;
  src: url("/src/assets/fonts/Piazzolla-Black.ttf") format("truetype");

  /* font-weight: 900; */
}

@font-face {
  font-family: Piazzolla-Bold;
  src: url("/src/assets/fonts/Piazzolla-Bold.ttf") format("truetype");

  /* font-weight: 700; */
}

@font-face {
  font-family: Piazzolla-Medium;
  src: url("/src/assets/fonts/Piazzolla-Medium.ttf") format("truetype");

  /* font-weight: 500; */
}

@font-face {
  font-family: Piazzolla-Regular;
  src: url("/src/assets/fonts/Piazzolla-Regular.ttf") format("truetype");

  /* font-weight: 400; */
}

@font-face {
  font-family: SmoochSans-Bold;
  src: url("/src/assets/fonts/SmoochSans-Bold.ttf") format("truetype");

  /* font-weight: 700; */
}

@font-face {
  font-family: SmoochSans-Medium;
  src: url("/src/assets/fonts/SmoochSans-Medium.ttf") format("truetype");

  /* font-weight: 500; */
}

@font-face {
  font-family: SmoochSans-Regular;
  src: url("/src/assets/fonts/SmoochSans-Regular.ttf") format("truetype");

  /* font-weight: 400; */
}

@font-face {
  font-family: SmoochSans-SemiBold;
  src: url("/src/assets/fonts/SmoochSans-SemiBold.ttf") format("truetype");

  /* font-weight: 600; */
}
